*{
    margin: 0;
    padding: 0;
    background-color:cornflowerblue;
}

body{
   
    color: #fff;
    text-align: center;
}
#gameboard{
    
    margin-top: 2rem;
}
.gameboard{
    margin-top: 2rem;
}